@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="slideshow-container">
    <div id="slide">
        <img id="myImage" width="1500" height="500">
        <button type="button" id="previous">&#10094;</button>
        <button type="button" id="next">&#10095;</button>
    </div>
</div>
<div id="newsContainer">
    <div id="relevantNews">
        <h4>
            Welcome to the the website
        </h4>
        <p>
           Welcome to our newly launched e-commerce website. You can browse products from the product page. Click on view more to see more info on the product and product reviews. Login to start adding products to cart and reviewing products.
        </p>
    </div>
</div>
